<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title >CloudLab</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.ico">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/resultados.css'>
    <script src='/static/js/main.js'></script>
</head>
<body>
    <nav id="navbar">
        <img src="/static/img/Logo.png" alt="Logo do laboratório">
        <h1>Visualizar Resultados</h1>
        <a class="voltar" href="{{ url_for('paciente_routes.mostrar_home') }}" ><img src="/static/img/setaVoltar.png" alt="Icone voltar"></a>
    </nav>
    <section id="form-container">
        {% for res in resultados %}
            <div class="resultado">
                <div class="col-esquerda">
                    <h2>{{ res.nome_exame }}</h2> 
                    <p>Realizado em: {{ res.data_resultado }}</p>
                </div>
                <div class="col-direita">
                    <p>Tipo: {{ res.tipo_exame }}</p>
                    <p>Status: Disponível</p>
                </div>
                </div>
            <hr>
        {% else %}
            <p>Não há resultados de exames disponíveis.</p>
        {% endfor %}
    </section>
</body>
</html>